@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;800&display=swap');

:root {
  --font-pop: "Poppins", serif;
  --font-monts: "Montserrat", serif;

  --color-hero: #0B1D26;
  --color-text: rgb(255, 255, 255);
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-hero);
  font-size: 1.6rem;
  font-family: var(--font-monts);
}

/* Мульти-блоки */
.call {}


/* Параллакс */
.hero-section__parallax-container {}

.layer {}

.hero-section__layer-1 {}

.hero-section__layer-2 {}

.hero-section__layer-3 {}


/* Шапка */
.header {}

.header__container {
  margin: 0 auto;
  max-width: 1760px;
  width: 100%;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2rem;
}

.header__container,
.header__link-list {
  display: flex;
  justify-content: space-between;
}

.header__logo-wrapper {}

.header__logo {}

.header__nav {}

.header__link-list {
  gap: 4rem;
}

.header__list-item {}

.header__link {
  color: var(--color-text);
}

.header__user-acc {}

.header__acc-icon {}

.header__link-acc {
  color: var(--color-text);
}


/* Заголовки и списки-ссылки */
.hero-section {}

.hero-section__container {}

.hero-section__socials {}

.socials-title {}

.socials__link-wrapper {}

.socials__icon {}

.hero-section__wrapper-title {}

.hero-section__call {}

.hero-section__h1 {}

.hero-section__scroll-link {}

.hero-section__nav {}

.hero-section__list-nav {}

.hero-section__list-item {}

.hero-section__anchor-link {}